<div class="friendslist">
    <h1>Friends</h1>
    <div class="friendContainer">    
        <% @friends.each do |friend| %>
            <%= link_to friend do%>
                <div class="friendBox">
                    <%=friend.name%>
                </div> 
            <% end %>
        <% end %>
    </div>
</div>