<div class="index">
    
    <div class="createPost">
        <%#= link_to "New Post", new_post_path %> 
        <%= render 'newPost', post: @post %>
        <%#= render_async post_newForm_path %>
    </div>
    
    <div class="indexPostsBox">

        <%= render 'showPosts', posts: @posts %>
        
    </div>
    <%# = content_for :render_async %>
</div>   