/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /*
Colors:
color:#E7E9ED; Light white text
#F0F2F5; background
#FFFFFF; backgrouund 
#dddfe2; border
#166FE5; blue
#dadde1; border bottom
#42B72A; green
#606770; signup form color
#18191A; body
 */
body{
    margin: 0;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

body *{
    text-decoration: none;
}
 .loginBox{
     background-color: #F0F2F5;
     display: flex;
     padding: 20vh 20vw;
     align-items: center;
     justify-content: center;
 }

 .loginHeader{
     margin-right: 5rem;
 }
 .logoText{
     font-size: 28px;
     width: 500px;
 }

 .fb_logo{
     margin-left: -30px;
     width: 20rem;
 }

 .loginForm{
     text-align: center;
     background-color: #FFFFFF;
     border-radius: 8px;
     border: none;
     box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
     width: 400px;
     padding:15px 1rem 24px 1rem;
     flex-shrink: 0;
     
 }

 .loginFormField input{
     height: 2rem;
     width: 355px;
     margin-bottom: 1rem;
     border-radius: 6px;
     font-size: 17px;
     padding:14px 16px;
     border:1px solid #dddfe2;
 }

 .loginActions input{
    height: 3.5rem;   
    margin-bottom: 1rem;
    background-color: #166FE5;
    color:#FFFFFF;
    border:none;
    border-radius: 8px;
    width: 385px;
    font-size: 20px;
    font-weight: 500;
 }

 .loginBorder{
     border-bottom: 1px solid #dadde1;
     margin-bottom: 2rem;
 }

.loginForgot{
    margin-bottom: 1rem;
}

.loginEditAccountButton{
    display: block;
    margin:0 auto 0;
    line-height: 3.5rem;
    height: 3.5rem;   
    margin-bottom: 1rem;
    background-color: red;
    color:#FFFFFF;
    text-decoration: none;
    border-radius: 8px;
    width: 300px;
    font-size: 20px;
    font-weight: 500;
}

 .loginNewAccountButton{
    display: block;
    margin:0 auto 0;
    line-height: 3.5rem;
    height: 3.5rem;   
    margin-bottom: 1rem;
    background-color: #42B72A;
    color:#FFFFFF;
    text-decoration: none;
    border-radius: 8px;
    width: 300px;
    font-size: 20px;
    font-weight: 500;
 }

 .signUpRadio{
     display: flex;
     justify-content: center;
     align-self: center;
     text-align: center;
 }

 .signUpRadio label{
     line-height: 40px;
 }

 .signupForm{
    text-align: left;
}

.signupForm h1{
    font-size: 32px;
}

.signupForm p{
    font-size: 15px;
    color:#606770;
}

.signupForm .loginNewAccountButton{
    text-align: center;
}

.greySmallText{
    font-size: 15px;
    color:#606770;
}

.signupRadioOption{
    flex-shrink: 0;
    margin-right: 2rem;
    border:1px solid #dadde1;
    border-radius: 8px;
    padding: 3px 15px;
    width: 80px;
}

.signUpRadio{
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.signupActions input{
    height: 3.5rem;   
    margin-bottom: 1rem;
    background-color: #166FE5;
    color:#FFFFFF;
    border:none;
    border-radius: 8px;
    width: 385px;
    font-size: 20px;
    font-weight: 500;
 }

 .signupBox{
    padding: 2rem 2rem;
 }


 nav{
     display: flex;
     background-color: #242526;
     border-bottom: 1px solid #38393A ;
     justify-content: space-between;
     align-items: center;
     
     padding-left: 1rem;
     padding-right: 2rem;
     color:white;
     height: 60px;
 }

 .navLogoSearch{
     display: flex;
     align-items: center;
 }

 .navLogoSearch img{
    height: 50px;
 }

 .navIcons ul{
     display: flex;
     align-items: center;
    list-style: none;
 }

 .navIcons li{
   margin-right: 2rem;
}

nav a{
    color: #B8BBBF;
}

.navIcons .navIconColor{
    filter: invert(72%) sepia(0%) saturate(2416%) hue-rotate(100deg) brightness(101%) contrast(94%);
}

 .navProfile{
     display: flex;
     align-items: center;
 }

 .navPfpText{
     display:flex;
     margin-right: 2rem;
     line-height: 50px;
 }
 .navPfp{
    margin-right: 1rem;
    border-radius: 50%;
    background-color: black;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-right: 1rem;
    text-align: center;
    color:white;
 }

 .navPfp img{
    margin-right: 1rem;
    border-radius: 50%;
    background-color: black;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-right: 1rem;

 }



 .navNotifications{
     margin-right: 2rem;
 }

 body{
     background-color: #18191A;
 }

 .bell_logo{
    filter: invert(57%) sepia(7%) saturate(47%) hue-rotate(202deg) brightness(93%) contrast(93%);
     width: 25px;
 }