// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.postComment{
    display: flex;
    margin-top: 1rem;
}

.postCommentPfp{
    margin-right: 1rem;
    border-radius: 50%;
    background-color: grey;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.postCommentOwner{
  color:#E7E9ED;
  margin-bottom: 0.5rem;
}

.postCommentBody{
    margin-bottom: 0.5rem;
}

.postCommentAdd{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.postCommentAdd form{
    display: flex;
}

.postCommentAddPfp{
    margin-right: 1rem;
    border-radius: 50%;
    background-color: grey;
    width: 45px;
    height: 45px;
    line-height: 45px;
}
.postCommentAddBody input{
    background-color: #4E4F50;
    border-radius: 2rem 0 0 2rem;
    border:none;
    width: 500px;
    line-height: 2rem;
    font-size: 1.25rem;
    color:#E7E9ED;
    height: 2rem;
    padding-right: 20px;
    padding-left:1rem;
}

.postCommentAddBody input:focus, textarea:focus, select:focus{
    outline: none;
}

.postCommentSubmit input{
    margin-left: 0;
    background-color: #4E4F50;
    border-radius: 0 2rem 2rem 0;
    border:none;
    width: 100px;
    line-height: 2rem;
    font-size: 1.25rem;
    color:#E7E9ED;
    height: 34px;
    padding-right: 1rem;

}

.postCommentSubmit input:hover{
    background-color: grey;
}

.postCommentSubmit #comment_body::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#A4A6AA;
  }
.postCommentControlls{
    display: flex;
    align-items: center;
    gap:0.5rem;
}

.postCommentControlls img{
    width:20px;
}