// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.showUser{
    margin: 3rem auto 0;
    width: 800px;
    color:#B8BBBF;
}

